body {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  align-items: center;
}

.wrapper {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  overflow: hidden;

  width: 100%;

  max-width: 1024px;
}

.month {
  display: flex;
  justify-content: space-between;

  margin: 3vh 0;
}

.month .title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month .year {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.66);
}

.container {
  background-color: var(--light-gray-color);

  border-radius: 20px;
  padding: 20px;
}

.container .week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  margin-bottom: 2vh;
}
.container .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 60px);

  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

.container .days .day {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.events .title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  margin-top: 3vh;
}
