<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/welcome.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logotype"><span>SUA</span>GENDA</div>
    </nav>
    <div class="wrapper">
      <div class="illustration">
        <div class="agenda-wrapper">
          <img
            src="{{ url_for('static', filename='img/welcome/agenda.png') }}"
            alt=""
          />
          <img
            class="vector"
            src="{{ url_for('static', filename='img/welcome/handdrawn1.svg') }}"
            alt=""
          />
          <img
            class="vector"
            src="{{ url_for('static', filename='img/welcome/handdrawn2.svg') }}"
            alt=""
          />
          <img
            class="vector"
            src="{{ url_for('static', filename='img/welcome/handdrawn3.svg') }}"
            alt=""
          />
        </div>
      </div>
      <div class="title">
        Seja
        <span
          >bem vindo!

          <img
            class="vector"
            src="{{ url_for('static', filename='img/welcome/handdrawn4.svg') }}"
            alt=""
          />
        </span>
      </div>
      <div class="desc">Cadastre eventos e organize seu calendário</div>
      <div class="action">
        <a href="{{ url_for('login') }}">
          <button>></button>
        </a>
        <img
          class="vector"
          src="{{ url_for('static', filename='img/welcome/handdrawn5.svg') }}"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
